@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100vh;
    overflow: hidden;
    background-color: none;
}
.header {
    width: 100%;
    height: 80px;
    position: relative;
    padding-top: 10px;
    background-color: #f8f3f3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header img {
    position: absolute;
    top: 14px;
    width: 70px;
    left: 60px;
}
.content {
    position: absolute;
    display: flex;
    left: 500px;
    justify-content: space-between;
    padding: 20px;
}
.content ul {
    list-style-type: none;
    display: flex;
}
.content ul li {
    margin-right: 50px;
}
.content ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.content ul li a:hover{
    color: #4477ce;
}
.container {
    position: absolute;
    height: 100%;
    width: 200px;
    background: #161616;
    z-index: 1;
    transition: transform 0.5s ease; 
    transform: translateX(-250px);
}
ol {
    width: 100%;
    list-style: none;
}
ol li {
    display: block;
    width: 100%;
}
ol li a {
    position: relative;
    color: #fbfdce;
    padding: 15px 10px;
    text-decoration: none;
    display: block;
}
ol li a i {
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
}
ol li:hover a {
    background: #030303;
    color: #00eaff;
    letter-spacing: 1px;
}
input {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
span {
    position: absolute;
    left: 10px;
    top: 28px;
    font-size: 30px;
    border-radius: 3px;
    color: black;
    padding: 3px 8px;
    cursor: pointer;
    background: #f8f3f3;
}
#times {
    display: none;
}
#bars {
    background: #f8f3f3;
}
#check:checked + .header + .container {
    transform: translateX(0);
}
#check:checked + .header #bars {
    display: none;
}
#check:checked + .header #times {
    display: block;
}
