<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="E:\ssbaide\ssbaideapp\asset\css\admin_login.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Admin Login</title>
    </head>
    <body>
       <div class="content">
            <div class="logo">
                <img src="E:\ssbaide\ssbaideapp\asset\images\ssbaide.png" >
            </div> 
            <div class="head">
                <p>Admin Panel</p>
            </div>
            <form>
                <div class="form-group">
                    <p for="email" id="email-head">Email address</p>
                    <input type="email" class="form-control" id="e-mail" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <p id="password-head">Password</p>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <a href="#">Forgot Password?</a>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
       </div>
       <footer>
            <p>Powered by Students</p>
       </footer>
    </body>
</html>