<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
        <link rel="stylesheet" href="F:\E Backup\ssbaide\ssbaideapp\asset\css\nav_bar.css">
        <title>Document</title>
    </head>
    <body>
        <input type="checkbox" id="check">
        <div class="header">
            <label for="check">
                <span class="fas fa-times" id="times"></span>
                <span class="fas fa-bars" id="bars"></span>
            </label>
            <img src="F:\E Backup\ssbaide\ssbaideapp\asset\images\ssbaide.png" >
            <div class="content">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                    <li>
                        <a href="#">FAQ's</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Signup</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <ol>
                <li><a href="#"><i></i>About us</a></li>
                <li><a href="#"><i></i>Contact us</a></li>
                <li><a href="#"><i></i>About us</a></li>
                <li><a href="#"><i></i>About us</a></li>
                <li><a href="#"><i></i>About us</a></li>
            </ol>
        </div>
    </body>
</html>